*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    display: flex;
    position: relative;
    height: 100vh;

}

body{
    background-color: rgb(189, 205, 219);
} 
nav{
    background-color: navy;
    height: 90px;
    width: 100%;
    padding: 15px;
    line-height: 40px;
    position: fixed;
    text-align: center;
}
#head{
    
    color: rgb(252, 252, 252);
    /* padding: 30px;*/
    letter-spacing: 1.5px;  
}
#facebook{
    float: left;
    color: white;
    font-size: 40px;
    margin-left: 100px;
    cursor: pointer;
}
.upperul{
  float: right;
  margin-right: 90px;
}
.upperlist{
    display: inline;
    padding: 50px;  
}
ul li a{
    color:white;
}
ul li a:hover{
    color: crimson;
}
.askme{
        margin-left: 700px;   
}
#table{
    
    line-height: 70px;
    font-size: 18px;
    height: 500px;
    background-color: rgb(189, 205, 219);
    /* margin-left: 700px;  */
   
}
/* This is footer code */
.footer{
    background-color:navy;
     color: white; 
     bottom: 0;
     height: 300px;
      width: 100vw; 
      font-size: 16px;
      display: flex;
      padding: 40px;
      bottom: 0px;
  } 
  .footer div{
    padding-left: 181px;
  }
.footerlist{
       padding-top: 20px;

}
